.Content{
    background-color: #fff;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}
.Content h1{
    text-align: center;
font-size: 24px;
margin: 10px;
margin-bottom: 30px;
}

.NextStep{
    background-color: #815d00;
    color: #fff;
    padding:10px 30px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
   // margin-left: 20px;
}
.NextStep:hover{
    background-color: #815d00;

}

.NextStep[disabled]{
    display: none;
}

.finalPage{
    text-align: center;
}
.finalPage h1{
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #815d00;
    text-transform: none;
    text-shadow: none;
}